# pip install -r requirements.txt 
# Python 3.8.4
numpy==1.22.3
opencv-python==4.6.0.66
nibabel==5.0.0
torchio==0.18.82
matplotlib==3.6.2
seaborn==0.11.2
tensorboard==2.9.1
gitpython==3.1.31
ipykernel==6.15.1
