#__________                   .__                                     __          
#\______   \ ____  ________ __|__|______  ____   _____   ____   _____/  |_  ______
# |       _// __ \/ ____/  |  \  \_  __ \/ __ \ /     \_/ __ \ /    \   __\/  ___/
# |    |   \  ___< <_|  |  |  /  ||  | \|  ___/|  Y Y  \  ___/|   |  \  |  \___ \ 
# |____|_  /\___  >__   |____/|__||__|   \___  >__|_|  /\___  >___|  /__| /____  >
#        \/     \/   |__|                    \/      \/     \/     \/          \/ 

#pip install -r requirements.txt 
opencv-python
nibabel
torchio
matplotlib
seaborn
aim
gitpython
pytest
black
ipykernel